.container {
  margin-top: 5rem;
}
thead {
  background: whitesmoke;
  font-size: xx-large;
}
.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}
table .btn{
  margin: 2px;
}
